.warp{
    margin: 10px 80px;
}
/*轮播图*/
.swiper-container {
    width: 100%;
    height: 100%;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide>img{
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}
/* 导航栏样式  start*/
.tab {
    border-bottom: 1px solid gainsboro;
}
.tab_default {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background: none;
    color: #999999;
}
.tab_checked {
    font-size: 18px;
    color: #3e3e3e;
    border-bottom: 2px solid #eb002a;
}
.tab > button {
    float: left;
    padding: 5px 10px;
}
.tab>a{
    padding: 5px;
    font-size: 18px;
    float: right;
}
/*导航栏样式 end*/
/* 内容部分样式 start*/
.tab_content {
    min-width: 1024px;
}
.movies{
    width: 250px;
    padding: 0;
    margin: 0;
    position: relative;
}
.movies>img{
    width: 100%;
    height: 450px;
    background: #31b0d5;
    /*position: absolute;*/
}
.movies>p{
    font-weight: bold;
    color: red;
    position: absolute;
    margin-left: 6px;
    margin-top: -25px;
}
.movies>p>span:last-child{
    margin-left: 150px;
}
.tab_hot>li{
    float: left;
    padding: 20px;
    width: 20%;
}
.movies_desc{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(32,32,32,0.7);
}
.buy {
    border: none;
    background: red;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    width: 250px;
}
.tab_will{
    display: none;
}
.tab_will>li{
    float: left;
    padding: 20px;
    width: 20%;
}
.will_p{
    display: block;
    font-size: 18px;
    text-align: center;
    /*border: 1px solid white;*/
    background: #31b0d5;
    width: 250px;
    padding: 10px 0px;
}
/* 内容部分样式 end*/